@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Kanit:wght@300;400;500;600&display=swap");

/* Light Theme */
:root {
  --background-color: #7d7c7c; /* Dark background */
  --color-body: #b6cbce;
  --color-heading: #d1d6c1;
  --color-base: #635f5f;
  --color-base2: #757575;
  --color-brand: #3daed3;
  --color-brand2: #0f2154;
  --sidbar-width: 240px;
  --text-color: #3daed3; /* Light text */
  --font-base: "Kanit";
}


/* Dark Theme */
[data-theme="dark"] {
  --background-color: #121212; /* Dark background */
  --text-color: #ffffff; /* Light text */
   /* Dark navbar */
  /* Add other variables as needed */
}

.theme-swap {
  border-radius: 50%;
  position: fixed;
  top: 85px;
  left: 10px;
  z-index: 1500;
  border-radius: 100px; /* Keeps the button rounded */
  cursor: pointer;
  background-color: #262626;
  padding: 5px ; /* Add some padding */
  border: none; /* Remove the border */
  color:  #3daed3;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.theme-swap:hover {
  background-color:#3daed3; /* Lighter grey when hovered */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Glowing effect */
}


/* Video background styling */
#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures it stays behind all other content */
  object-fit: cover; /* Cover the whole screen */
}

/* Generic background color for content, with transparency */
.bg-transparent {
  background-color: rgb(0, 0, 0); /* Adjust transparency as needed */
}

/* Alternatively, you might want to adjust existing sections */
#content-wrapper > section {
  background-color: rgba(0, 0, 0, 0); /* Increase the transparency */
}

body {
  background-color: var(--background-color);       /* background-color: var(--color-base2); */
  color: var(--text-color);                        /* color: var(--color-body); */
  font-family: var(--font-base);
}

.social-icons {
  position: fixed; /* Fix the position relative to the viewport */
  top: 40px; /* Distance from the top of the viewport */
  right: 10px; /* Distance from the right of the viewport */
  z-index: 1000; /* Ensure it sits above other content */
}

.card .img {
  overflow: hidden;
}

.card .img img {
  transition: all 0.5s ease;
}
.card:hover .img img {
  transform: scale(1.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}

.navbar .nav-link {
  font-weight: 700 !important;
  text-transform: uppercase;
  background-color: var(--nav-color);  
  color: white;
}
.navbar .nav-link:hover {
  color: var(--color-brand);
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh !important;
    max-width: var(--sidbar-width) !important;
    background: linear-gradient(rgba(17, 18, 18, 0.8), rgba(123, 119, 119, 0.9)),
      url("/assets/images/1sidebar-img.jpg") !important;
    background-size: cover;
    background-position: center;
  }

  .navbar-brand img {
    border: 5px solid var(--color-brand);
  }

  #content-wrapper {
    margin-left: var(--sidbar-width);
  }
}

.text-brand {
  color: var(--color-brand);
}

.full-hight {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.355);
}

.bg-base {
  background-color: var(--color-base);
}

.shadow-effect {
  transition: all 0.5s ease;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-brand);
}

.navbar .nav-link.active {
  color: var(--color-brand);
}

.iconbox {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: var(--color-brand);
  color: var(--color-base);
}

.text-specific-class {                /* */ /* BTN *//* BTN *//* BTN *//* BTN */
  color: var(--text-color); 
}

/* BTN */
.btn {
  padding: 12px 28px;
  font-weight: 700 !important;
}

.stars {
  color: var(--color-brand2);
}

.btn-brand {
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand2);
}

.text-brand {
  color: var(--color-brand);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  border: 2px solid var(--color-brand2);
  color: var(--color-base);
}
/* //BTN */

.custom-link {
  font-weight: 700;
  position: relative;
}

.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.custom-link:hover::after {
  width: 100%;
}

.navbar {
  background-color: var(--color-base);
}

#contact .form-control {
  background-color: var(--color-base);
  color: var(--color-body);
  border-color: var(--color-base);
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--color-body);
}

#contact input.form-control {
  height: 42px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--color-base);
  color: var(--color-brand);
  font-size: 24px;
}
.profilepic {
  width: 180px;
  height: 180px;
}

@media (max-width: 422px) {
  .num {
    padding-top: 2rem;
    display: block;
  }
}
